.container {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  padding: 0 20px;
}

.form-group {
  margin-bottom: 20px;
}

.button-container {
  margin-top: 20px;
  text-align: center; /* Para centralizar o botão */
}